
header img {
    width: 60px;
    height: auto;
    vertical-align: middle;
}


header  {
    text-align: left;
    padding: 15px;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;

}

nav {
    width: 100%;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    display: block;
    padding: 13px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.hero {
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h2 {
    margin: 15px 10px 10px;
}

.hero p {
    margin: 0 15px 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(9, 58, 9);
    color: rgb(189, 226, 164);
    text-decoration: none;
    margin-bottom: 15px;
}

.natur {
    border-top: 1px solid #6b6868;
    text-align: center;
    padding: 25px 15px;
}

.natur h2 {
    margin-bottom: 15px;
}

.natur p {
    line-height: 1.5;
    margin-bottom: 15px;
}

.upplev {
    padding: 25px 15px;
    background-color: rgb(199, 201, 199)
}

.upplev h2 {
    text-align: center;
    margin-bottom: 20px;
}

.kort {
    border: 1px solid black;
    margin: 0 auto 20px;
    width: 80%;
    background-color: white;

}

.kort img {
    width:100%;
    margin: 0 auto;
    display: block;

}

.kort h3 {
    margin: 12px;
}

.kort p {
    margin: 0 12px 15px;
    line-height: 1.5;

}

.planera {
    text-align: center;
    padding: 30px 20px;
}


.planera h2 {
    margin-bottom: 20px;

}


.planera p{ 
    line-height: 1.5;
    margin-bottom: 1.5px;

}

footer {
    background-color: rgb(199, 201, 199);
    text-align: center;
    padding: 30px 20px;


}

footer img {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;

}

.footer-content {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 25px;
    text-align: left;

}

.footer-column {
    flex: 1;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

 }

@media (min-width: 768px) {

    .logotyp {
        display: flex;
        align-items: center;
    }

    .logotyp h1 {
        margin: 0 0 0 10px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        nav { 
            width: auto;
        }
    
        nav ul {
            display: flex;
            gap: 30px;
        }
    

        .hero {
            position: relative;
        }

        .hero-text {
            position: absolute;
            top: 50%;
            left: 15%;
            transform: translate(-50%);
            color: white;
            width: 350px;
        }

        .hero-text h2 {
            margin: 0 0 10px;
        }

        .hero-text p {
            margin: 0 0 20px;
        }

        .hero img {
            width: 100%;
            display: block;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgb(13, 43, 14);
            color:#f7f5f5;
            text-decoration: none;


        }


    .upplevelser {
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    .kort {
        width: 30%;
        margin-bottom: 20px;
    }
     
    .planera {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        text-align: left;
        padding: 30px;
    }
        
    .planera h2, .planera p {
        grid-column: 1;
    }
    .planera h2 {
        margin-top: 0;
    }

    .planera p{
        max-width: 500px;
    }
    .planera .button {
        grid-column: 2;
        grid-row: 1 / span 3;
        margin: 0;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px 80px;
     }

     .footer-logo {
        display: flex;
        align-items: center;
        gap: 20px;
     }

     .footer-contact {
        display: flex;
        flex-direction: row;
        gap: 150px;
        align-items: flex-start;
        margin-right: 80px;
     }

     .footer-column {
        display: flex;
        flex-direction: column;
        gap: 5px;
     }
     
     .footer-column p {
        margin: 2px 0;
     }

}





